In [ ]:

class student:
  def __init__ (self,naam):
    self.name = naam

s1= student("Bob")
s2=

In [ ]:

data_type1 = DataType(‘Integer’, 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType(‘String’, ‘Hello’)
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType(‘Float’, 4.0)
print(data_type3.name)
print(data_type3.value)

In [77]:
#1
class DataType:
  def __init__ (self,name,value):
    self.name=name
    self.value=value
data_type1 = DataType("Integer", 1234)
print(data_type1.name)
print(data_type1.value) 
print('=====================')

data_type2 = DataType("String","Hello")
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType("Float", 4.0)
print(data_type3.name)
print(data_type3.value)
print('=====================')

Integer
1234
=====================
String
Hello
=====================
Float
4.0
=====================

In [ ]:
#1 test
class DataType:
  def __init__ (self,name,value):
    self.x=name
    self.y=value
data_type1 = DataType("Integer", 1234)
print(data_type1.x)
print(data_type1.y) 
print('=====================')

data_type2 = DataType("String","Hello")
print(data_type2.x)
print(data_type2.y)
print('=====================')
data_type3 = DataType("Float", 4.0)
print(data_type3.x)
print(data_type3.y)
print('=====================')

In [ ]:
class data_type2:
  def __init__(self,name,value):
    self.name = name
    value.name=value



data_type2 = DataType("String","Hello")
print(data_type2.name)
print(data_type2.value)

In [ ]:
class data_type3:
  def __init__(self,name,value):
    self.name = name
    value.name=value
data_type3 = DataType("Float", 4.0)
print(data_type3.name)
print(data_type3.value)

In [81]:


#2
class Flower:
  def __init__(self):#2 no parameter thats why default argument
    self.name="default" #jekono kisu dwa jabe e.g. None 
    self.color="default"
    self.num_of_petal=0


flower1 = Flower() #1no parameter
flower1.name="Rose"
flower1.color="Red"
flower1.num_of_petal=6
print("Name of this flower:", flower1.name)
print("Color of this flower:",flower1.color)
print("Number of petal:",flower1.num_of_petal)
print("=====================")
flower2 = Flower()
flower2.name="Orchid"
flower2.color="Purple"
flower2.num_of_petal=4
print("Name of this flower:",flower2.name)
print("Color of this flower:",flower2.color)
print ("Number of petal:",flower2. num_of_petal)
print(flower1)
print(flower2)
print("they are different")

Name of this flower: Rose
Color of this flower: Red
Number of petal: 6
=====================
Name of this flower: Orchid
Color of this flower: Purple
Number of petal: 4
<__main__.Flower object at 0x0000022B655C1B70>
<__main__.Flower object at 0x0000022B6664E560>
they are different

In [82]:
#3
class Joker:
  def __init__(self,name,power,is_he_psycho):
    self.name=name
    self.power=power
    self.is_he_psycho=is_he_psycho







j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print("=====================")
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print("=====================")
if j1 == j2:
  print('same')
else:
  print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name: 
  print('same')
else:
  print('different')

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same

In [86]:
#4

class Pokemon:
  def __init__ (self,pokemon1_name,pokemon2_name,pokemon1_power,pokemon2_power,damage_rate):
    self.pokemon1_name=pokemon1_name
    self.pokemon1_power=pokemon1_power
    self.pokemon2_name=pokemon2_name
    self.pokemon2_power=pokemon2_power
    self.damage_rate= damage_rate

team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name,
team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name,
team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power +team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)

# class Pokemon:
#   def __init__ (sself,pokemon1_name,pokemon2_name,pokemon1_power,pokemon2_power,damage_rate): #! pagool naki vai? etakw kore?



team_bulb=Pokemon("bulbasaur", "squirtle", 80, 70,9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name,
team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name,
team_bulb.pokemon2_power)
pika_combined_power = ((team_bulb.pokemon1_power + team_bulb.pokemon2_power) 
*team_bulb.damage_rate)
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [ ]:
#5

class Player:
    def __init__ (self):
        self.name="x"
        self.jersy_number = 0
        self.position = "y"
    


player1 = Player() 
player1.name = "Ronaldo" 
player1.jersy_number = 9 
player1.position = "Striker" 
print("Name of the Player:", player1.name) 
print("Jersey Number of player:", player1.jersy_number) 
print("Position of player:", player1.position) 
print("===========================") 
player2 = Player() 
player2.name = "Neuer" 
player2.jersy_number = 1 
player2.position = "Goal Keeper" 
print("Name of the player:", player2.name) 
print("Jersey Number of player:", player2.jersy_number) 
print("Position of player:", player2.position)

In [87]:
#recap
class Country:
    def __init__(self):
        self.name="Bangladesh"
        self.continent="Asia"
        self.capital = "Dhaka"
        self.fifa_ranking= 187





country = Country() 
print('Name:',country.name) 
print('Continent:',country.continent) 
print('Capital:',country.capital) 
print('Fifa Ranking:',country.fifa_ranking) 
print('===================') 
country.name = 'Belgium' 
country.continent = 'Europe' 
country.capital = 'Brussels' 
country.fifa_ranking = 1 
print('Name:',country.name) 
print('Continent:',country.continent) 
print('Capital:',country.capital) 
print('Fifa Ranking:',country.fifa_ranking)

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

In [88]:
#6
class Country:
  # def __init__ (self,name,continent,capital,fifa_ranking):
  def __init__ (self):
    self.name="Bangladesh"
    self.continent="Asia"
    self.capital="Dhaka"
    self.fifa_ranking="187"


country = Country()
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)
print('===================')
country.name = "Belgium"
country.continent ="Europe"
country.capital = "Brussels"
country.fifa_ranking = 1
print('Name:',country.name)
print('Continent:',country.continent)
print('Capital:',country.capital)
print('Fifa Ranking:',country.fifa_ranking)

Name: Bangladesh
Continent: Asia
Capital: Dhaka
Fifa Ranking: 187
===================
Name: Belgium
Continent: Europe
Capital: Brussels
Fifa Ranking: 1

In [89]:
#7
class DemonSlayer:
  def __init__ (self,name,style,number_of_technique,kill):
    self.name=name
    self.style=style
    self.number_of_technique=number_of_technique
    self.kill=kill

tanjiro = DemonSlayer("Tanjiro", "Water Breathing", 10, 10)
print('Name:',tanjiro.name)
print('Fighting Style:',tanjiro.style)
print(f'Knows {tanjiro.number_of_technique} technique(s) and has killed {tanjiro.kill} demon(s)')
print('===================')
zenitsu = DemonSlayer("Zenitsu", "Thunder Breathing", 1, 4)
print('Name:',zenitsu.name)
print('Fighting Style:',zenitsu.style)
print(f'Knows {zenitsu.number_of_technique} technique(s) and has killed {zenitsu.kill} demon(s)')
print('===================')
inosuke = DemonSlayer("Inosuke", "Beast Breathing", 5, 7)
print('Name:',inosuke.name)
print('Fighting Style:',inosuke.style)
print(f'Knows {inosuke.number_of_technique} technique(s) and has killed {inosuke.kill} demon(s)')
print('===================')
print(f'{tanjiro.name}, {zenitsu.name}, {inosuke.name} knows total {tanjiro.number_of_technique + zenitsu.number_of_technique + inosuke.number_of_technique} techniques')
print(f'They have killed total {tanjiro.kill + zenitsu.kill + inosuke.kill} demons')

Name: Tanjiro
Fighting Style: Water Breathing
Knows 10 technique(s) and has killed 10 demon(s)
===================
Name: Zenitsu
Fighting Style: Thunder Breathing
Knows 1 technique(s) and has killed 4 demon(s)
===================
Name: Inosuke
Fighting Style: Beast Breathing
Knows 5 technique(s) and has killed 7 demon(s)
===================
Tanjiro, Zenitsu, Inosuke knows total 16 techniques
They have killed total 21 demons

In [90]:
#8
class box:
    def __init__ (self,x):
        # for i in x:
        # print('Creating a box!')   
        # print(f"Volume of the box is {(x[0]*x[1]*x[2])} cubic units.")
        self.height=x[0]
        self.width=x[1]
        self.breadth=x[2]
        print('Creating a box!')   
        print(f"Volume of the box is {(x[0]*x[1]*x[2])} cubic units.")
        # print("Volume of the box is 3000 cubic units.",(x[0]*x[1]*x[2]))
        # print(f"Volume of the box is {(x[0]*x[1]*x[2])} cubic units.")
        
print("Box 1") 
b1 = box([10,10,10]) 
print("=========================") 
print("Height:", b1.height) 
print("Width:", b1.width) 
print("Breadth:", b1.breadth) 
print("-------------------------") 
print("Box 2") 
b2 = box((30,10,10)) 
print("=========================") 
print("Height:", b2.height) 
print("Width:", b2.width) 
print("Breadth:", b2.breadth) 
b2.height = 300 
print("Updating Box 2!") 
print("Height:", b2.height) 
print("Width:", b2.width) 
print("Breadth:", b2.breadth) 
print("-------------------------") 
print("Box 3") 
b3 = b2 
print("Height:", b3.height) 
print("Width:", b3.width) 
print("Breadth:", b3.breadth)

Box 1
Creating a box!
Volume of the box is 1000 cubic units.
=========================
Height: 10
Width: 10
Breadth: 10
-------------------------
Box 2
Creating a box!
Volume of the box is 3000 cubic units.
=========================
Height: 30
Width: 10
Breadth: 10
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10

In [96]:
#9
class buttons:
    def __init__ (self,word, spaces, border):
        self.word="CANCLE"
        self.spaces=0
        self.border="x"
        print(f"{word} Button Specifications:")
        print(f"Button name: {word}")
        count_=1+spaces+len(word)+spaces+1
        print("Number of the border characters for the top and the bottom:",count_)
        print("Number of spaces between the left side border and the first character of the button") 
        print("name:",spaces)
        print("Number of spaces between the right side border and the last character of the button")
        print("name:",spaces)
        print("Characters representing the borders:",border)
        print()        
        print(count_*border)
        print(border+spaces*" "+word+spaces*" "+border)
        print(count_*border)




word = "CANCEL"   
spaces = 10 
border = 'x' 
b1 = buttons(word, spaces, border) 
print("=======================================================") 
b2 = buttons("Notify",3, '!') 
print("=======================================================") 
b3 = buttons('SAVE PROGRESS', 5, '$')

CANCEL Button Specifications:
Button name: CANCEL
Number of the border characters for the top and the bottom: 28
Number of spaces between the left side border and the first character of the button
name: 10
Number of spaces between the right side border and the last character of the button
name: 10
Characters representing the borders: x

xxxxxxxxxxxxxxxxxxxxxxxxxxxx
x          CANCEL          x
xxxxxxxxxxxxxxxxxxxxxxxxxxxx
=======================================================
Notify Button Specifications:
Button name: Notify
Number of the border characters for the top and the bottom: 14
Number of spaces between the left side border and the first character of the button
name: 3
Number of spaces between the right side border and the last character of the button
name: 3
Characters representing the borders: !

!!!!!!!!!!!!!!
!   Notify   !
!!!!!!!!!!!!!!
=======================================================
SAVE PROGRESS Button Specifications:
Button name: SAVE PROGRESS
Number of the border characters for the top and the bottom: 25
Number of spaces between the left side border and the first character of the button
name: 5
Number of spaces between the right side border and the last character of the button
name: 5
Characters representing the borders: $

$$$$$$$$$$$$$$$$$$$$$$$$$
$     SAVE PROGRESS     $
$$$$$$$$$$$$$$$$$$$$$$$$$

In [99]:
#10

class Wadiya(): 
 def __init__(self): 
   self.name = 'Aladeen' 
   self.designation = 'President Prime Minister Admiral General' 
   self.num_of_wife = 100 
   self.dictator = True
   
  
wadiya=Wadiya()
print("Part 1:")
wadiya.name = 'Aladeen' 
wadiya.designation = 'President Prime Minister Admiral General' 
wadiya.num_of_wife = 100 
wadiya.dictator = True
print("Name of President:",wadiya.name)
print("Designation:",wadiya.designation)
print("Number of wife:",wadiya.num_of_wife)
print("Is he/she a dictator:",wadiya.dictator)
print("Part 2:")
wadiya.name ="Donald Trump"
wadiya.designation = 'President' 
wadiya.num_of_wife = 1
wadiya.dictator = False
print("Name of President:",wadiya.name)
print("Designation:",wadiya.designation)
print("Number of wife:",wadiya.num_of_wife)
print("Is he/she a dictator:",wadiya.dictator)
print("No, changing had to effect on previous value")

Part 1:
Name of President: Aladeen
Designation: President Prime Minister Admiral General
Number of wife: 100
Is he/she a dictator: True
Part 2:
Name of President: Donald Trump
Designation: President
Number of wife: 1
Is he/she a dictator: False
No, changing had to effect on previous value

##########################                         TRACING     #########################

In [ ]:
class Human: 
     def __init__(self):  
         self.age = 0  
         self.height = 0.0  
   
h1 = Human()  
h2 = Human()  
h1.age = 21  
h1.height = 5.5  
print(h1.age)  
print(h1.height)  
h2.height = h1.height - 3  
print(h2.height)  
h2.age = h1.age  
h1.age += h1.age  
print(h1.age)  
h2 = h1  #
print(h2.age)  
print(h2.height)  
h1.age += h1.age  
h2.height += h2.height  
print(h1.age)  
print(h1.height)  
h2.age += h2.age  
h1.age = h2.age  
print(h2.age)

In [100]:
class Student:
    
    
    def __init__(self):
        self.name = None  
        self.cgpa = 0.0 
        
    
        
s1 = Student()  
s2 = Student()  
s3 = None  
s1.name = "Student One"  
s1.cgpa = 2.3  
s3 = s1  
s2.name = "Student Two"  
s2.cgpa = s3.cgpa + 1  
s3.name = "New Student"  
print(s1.name)  
print(s2.name)  
print(s3.name)  
print(s1.cgpa)  
print(s2.cgpa)  
print(s3.cgpa)  
s3 = s2  
s1.name = "old student"  
s2.name = "older student"  
s3.name = "oldest student"  
s2.cgpa = s1.cgpa - s3.cgpa + 4.5  
print(s1.name)  
print(s2.name)  
print(s3.name)  
print(s1.cgpa)  
print(s2.cgpa)  
print(s3.cgpa)

New Student
Student Two
New Student
2.3
3.3
2.3
old student
oldest student
oldest student
2.3
3.5
3.5

In [101]:
class Ninja:     
     def __init__(self):           
         self.rank = 0  
         self.stamina = 0.0  
   
naruto = Ninja()  
yellow_flash = Ninja()  
naruto.rank = 1  
naruto.stamina = 95.0  
print(naruto.rank)  
print(naruto.stamina)  
yellow_flash.stamina = naruto.stamina - 2  
print(yellow_flash.stamina)  
yellow_flash.rank += (naruto.rank + 1)  
print(yellow_flash.rank)  
minato = yellow_flash  
print(minato.rank)  
print(minato.stamina)  
naruto.rank = minato.rank - 1  
naruto.stamina = yellow_flash.stamina + 3  
print(naruto.rank)  
print(naruto.stamina)  
naruto.rank = -(-naruto.rank)  
yellow_flash.stamina = -(-minato.stamina)  
print(naruto.rank)  
print(minato.stamina)

1
95.0
93.0
2
2
93.0
1
96.0
1
93.0